
<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->

<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->

<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->


<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->

<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->

<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->

<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->

<!-- START :: A Item camera -->
<div class="camera-item col-xs-{{classWidthGrid}}">
    <div class="content-camera-box">

        <div class="edit-camera">
            <form>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Name">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Ip address or hostname">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="ID">
                </div>
                <div class="form-group iva-form-group">
                    <input type="text" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group iva-form-group">
                    <select ivaselect class="selecter">
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                        <option value="option">Adapter : ANNEXXUS </option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                  <button ng-click="closeEditmode($even)" type="button" class="btn btn-iva grey">
                       <i class=" icon-cancel-1"></i>
                  </button>
                  <button type="button" class="btn btn-iva">
                      <i class=" icon-ok-1"></i>
                  </button>
                </div>
            </form>
        </div>
        <!-- END :: edit-camera -->

        <div class="show-camera" style="height : {{ heightItem }}px">
            <div class="mask">
                <button type="button" class="btn btn-iva">
                    <i class=" icon-configuration28"></i>
                    VA Setting
                </button>
            </div>
            <div class="thumbnail-box" style="background : url('content/thumbnail/1.png');">
                <i class="camera-status"></i>
            </div>
        </div>
        <!--  END :: Show thumbnail -->

        <div class="info-camera">
            <h4>ANNEXXUS 51</h4>
            <span class="ip">192.168.4.215</span>
            <span class="options">
                <i data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false"
                 class="icon-dot-verticle">
                </i>
                <ul class="dropdown-menu on-bottom-left iva-dropdown-list">
                    <li ng-click="openEditmode()" ><a><i class="icon-pencil-3"></i> Edit</a></li>
                    <li><a> <i class="icon-trash"></i> Remove</a></li>
                </ul>
            </span>
        </div>
         <!-- END :: Show info -->
    </div>
</div>
<!-- END ::  A Item camera -->
