<div  ng-controller="UserGroupCtrl">

    <div class="col-md-3 user-group-list">
    <div class="panel">
        <div class="panel-heading">
            <h4>
                <i class="icon-group"></i> Group list
            </h4>

        </div>
        <!-- END :: heading -->

        <div class="panel-body">
            <ul class="group-item-list">
                <li ng-repeat="group in userGroups" class="{{groupSelected.id==group.id?'active':''}}" id="{{group.id}}" ng-click="selectGroup(group)">
                    <a>{{group.name}}</a>
                    <div class="button-list">
                        <i class="icon-pencil-1"></i>
                        <i class="icon-trash"></i>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END :: body -->

        <div class="panel-footer">
            <button type="button" ng-click="editGroup = true" ng-show="editGroup == true" class="btn btn-iva full-width btn-lg" name="button">
                 New group
             </button>
        </div>
        <!-- END :: Footer -->
    </div>
</div>
<!-- END :: user-group-list -->


<!-- START ::  user-group-content -->

<div class="col-md-offset-3 col-md-9 user-group-content">
    <div class="col-md-12">
        <div class="iva-table-responsive" ng-include="'html/user-group-table-roles.html'">
        </div>
    </div>
</div>
<!-- START ::  user-group-content -->

<div style="clear:both"></div>

</div>
