<table class="table iva-table" >
    <caption>
        <h4 ng-if="editGroup == false ">
            <i class="icon-group"></i> Group: Administator
        </h4>
        <div class="group-name-input-box" ng-if="editGroup == true ">
            <form class="form-horizontal col-md-4">
                <div class="form-group iva-form-group">
                    <label for="Group" class="col-sm-2 control-label"> Group: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Group" placeholder="Group name">
                    </div>
                </div>
            </form>
        </div>

        <div class="button-list" ng-show="editGroup === false ">
            <span data-toggle="tooltip" data-placement="top" title="Rename" ng-click="$parent.editGroup = true">
                <i  class="icon-pencil-1"></i>
            </span>
            <span data-toggle="tooltip" data-placement="top" title="Delete Group">
                <i  class="icon-trash"></i>
            </span>

        </div>

    </caption>
    <thead>
        <tr>

            <th class="col-md-2">
                Privilege
            </th>
            <th class="col-md-2">
                Diable
            </th>
            <th class="col-md-2">
                View
            </th>
            <th class="col-md-2">
                Modify
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>

            <td>
                Live mode
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    <label for="optionsRadios1"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    <label for="optionsRadios2"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    <label for="optionsRadios3"></label>
                </div>
                <!--.radio-->
            </td>
        </tr>
        <!-- END :: a row -->

        <tr id="cameraTrId">

            <td>
                Cameras 
            </td>

            <td ng-repeat="role in groupSelected.objRole" >
                <!--<div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Cameras" value="{{role.name}}" ng-checked="role.isActive"  >
                    <label for="{{role.name}}"></label>
                </div>-->
               <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Cameras" value="{{role.name}}" id="{{role.name}}" ng-checked="role.isActive"  >
                    <label for="{{role.name}}"></label>
                </div>
                <!--.radio-->
            </td>


        </tr>
        <!-- END :: a row -->

        <tr>

            <td>
                Feature
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Feature" id="FeatureoptionsRadios1" value="Featureoption1" checked>
                    <label for="FeatureoptionsRadios1"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Feature" id="FeatureoptionsRadios2" value="Featureoption2">
                    <label for="FeatureoptionsRadios2"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Feature" id="FeatureoptionsRadios3" value="Featureoption3">
                    <label for="FeatureoptionsRadios3"></label>
                </div>
                <!--.radio-->
            </td>
        </tr>
        <!-- END :: a row -->

        <tr>

            <td>
                Network
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Network" id="NetworkoptionsRadios1" value="Networkoption1" checked>
                    <label for="NetworkoptionsRadios1"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Network" id="NetworkoptionsRadios2" value="Networkoption2">
                    <label for="NetworkoptionsRadios2"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="Network" id="NetworkoptionsRadios3" value="Networkoption3">
                    <label for="NetworkoptionsRadios3"></label>
                </div>
                <!--.radio-->
            </td>
        </tr>
        <!-- END :: a row -->

        <tr>

            <td>
                User
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="User" id="UseroptionsRadios1" value="Useroption1" checked>
                    <label for="UseroptionsRadios1"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="User" id="UseroptionsRadios2" value="Useroption2">
                    <label for="UseroptionsRadios2"></label>
                </div>
                <!--.radio-->
            </td>
            <td>
                <div class="radioer radioer-light-blue form-inline center">
                    <input type="radio" name="User" id="UseroptionsRadios3" value="Useroption3">
                    <label for="UseroptionsRadios3"></label>
                </div>
                <!--.radio-->
            </td>
        </tr>
        <!-- END :: a row -->

    </tbody>

    <tfoot class="footer-button-list">
        <tr>
            <td colspan="4">
                <button type="button" ng-click="$parent.editGroup = false" ng-show="editGroup === true " class="btn btn-iva grey btn-md"
                    name="button">
                    <i class="icon-save"></i>
                    Cancel
                </button>
                <button type="button" class="btn btn-iva btn-md" name="button">
                    <i class="icon-save"></i>
                    Save
                </button>
            </td>
        </tr>
    </tfoot>
</table>