<div ng-controller="UserCtrl">
    <div class="iva-table-responsive">
        <table class="table iva-table">
            <thead>
                <tr>
                    <th class="col-md-1">
                        No #.
                    </th>
                    <th class="col-md-3">
                        User ID
                    </th>
                    <th class="col-md-2">
                        Name
                    </th>
                    <th class="col-md-3">
                        Group
                    </th>
                    <th class="col-md-2">
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in users">
                    <td>{{item.no}}</td>
                    <td>{{item.userid}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <div class="btn-group bootstrap-select selecter">
                            <button type="button" class="btn dropdown-toggle btn-default text-align: center;" data-toggle="dropdown" title="Administator">
                            <span class="filter-option pull-left vertical-align: middle !important;">{{item.nameGroup}}</span>
                            </button>
                        </div>
                    </td>
                    <td class="icon-box-list">
                        <i class="icon-pencil-1" ng-click="showCurrentUser(item)" data-toggle="modal" data-target="#add-user-dialog"></i>
                        <i class="icon-trash" ng-click="deleteUser(item)"></i>
                    </td>
                </tr>
            </tbody>

            <tfoot class="footer-button-list">
            </tfoot>
        </table>
    </div>


    <!-- START :: Modal -->
    <div class="modal fade full-height from-right iva-modal" id="add-user-dialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="btn btn-floating btn-iva big dropshadow " data-dismiss="modal">
                        <i class="ion-close-round"></i>
                    </a>
                    <h4 class="modal-title">
                        {{headerModal}}
                    </h4>
                </div>
                <!-- END :: header modal -->
                <!-- START:: body modal -->
                <div class="modal-body">
                    <form>
                        <div class="form-group iva-form-group">
                            <input type="text" class="form-control lg" placeholder="User ID" ng-model="userId">
                        </div>
                        <div class="form-group iva-form-group">
                            <input type="text" class="form-control lg" id="exampleInputEmail1" placeholder="Display Name" ng-model="userDisplayName">
                        </div>
                        <div class="form-group iva-form-group">
                            <input type="password" class="form-control lg" id="exampleInputEmail1" placeholder="Password" ng-model="password">
                        </div>
                        <div class="form-group iva-form-group">
                            <input type="password" class="form-control lg" id="exampleInputEmail1" placeholder="Confirm Password" ng-model="confirmPassword">
                        </div>
                        <div class="form-group iva-form-group full-width">
                            <!--Star Dropdown list user-->
                            <div class="btn-group bootstrap-select selecter lg ng-pristine ng-untouched ng-valid">
                                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="dropdownGroupId" title="Test Group"
                                    aria-expanded="false">
                                        <span class="filter-option pull-left">{{selectedGroup.name}}</span>&nbsp;<span class="caret"></span>
                                </button>
                                <div class="dropdown-menu open" style="max-height: 529px; overflow: hidden; min-height: 135px;">
                                    <ul class="dropdown-menu inner" role="menu" style="max-height: 507px; overflow-y: auto; min-height: 113px;">
                                        <li ng-repeat="group in userGroups" class="{{selectedGroup.id==group.id?'selected':''}}" id="{{group.id}}">
                                            <a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Guests</span>" data-tokens="null" ng-click="changeValueDropbox(group)">
                                                <span class="text">{{group.name}}</span><span class="glyphicon glyphicon-ok check-mark"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--End Dropdown list user-->
                            </div>
                        </div>

                        <button type="button" class="btn full-width btn-lg  btn-iva" ng-click="addOrUpdateUser()">{{textButtonModal}}</button>
                    </form>
                </div>
                <!-- END :: body modal -->
            </div>
        </div>
    </div>
    <!-- START :: Modal -->
</div>